<p id="alert"><%= alert %></p>
<h3 class="text-white mb-5">Login</h3>
<%= form_tag sessions_path do |form| %>
  <div class="field">
    <%= label_tag :email, 'Email' %>
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password, 'Password' %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag "Login", :class => "btn btn-secondary mx-auto" %>
  </div>
<% end %>
<%= link_to "Home", root_path, :class => "btn btn-primary mx-auto", :id => "button" %>
<%= link_to "Sign Up", signup_path, :class => "btn btn-primary mx-auto", :id => "button" %>
<%= link_to "Forgot Password", forgot_password_path, :class => "btn btn-primary mx-auto", :id => "button" %>