<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %> </br>
    <%= form.email_field :email, id: :user_email, :disabled => true, class: :input %>
  </div>
  <% if !@reset or (@reset and @user.username.length < 5) %>
    <div class="field">
      <%= form.label :username %> </br>
      <%= form.text_field :username, id: :user_username, class: :input %>
    </div>
  <% end %>
  <div class="field">
    <% if @reset %>
      <%= form.label :reset_password %> </br>
    <% else %>
      <%= form.label :update_password %> </br>
    <% end %>
    <%= form.password_field :password, id: :user_password, class: :input %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %> </br>
    <%= form.password_field :password_confirmation, id: :user_password_confirmation, class: :input %>
  </div>

  <div class="actions">
    <% if @reset %>
      <%= form.submit :value => "Reset", :class => "btn btn-secondary mx-auto", :id => "button" %>
    <% else %>
      <%= form.submit "Update", :class => "btn btn-secondary mx-auto", :id => "button" %>
    <% end %>
  </div>
<% end %>
