<h3 class="text-white mb-5">Forgot Password</h3>
<p>Please enter the email with which you've registered for an account</p>

<%= form_for(:user, :url => url_for(:action => "forgot_password_submit", :id => @user)) do |form| %>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, id: :user_email %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", :class => "btn btn-secondary mx-auto", :id => "button" %>
  </div>

<% end %>

<%= link_to 'Home', root_path, :class => "btn btn-primary mx-auto", :id => "button" %>
